body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fffce4;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background-color: #fffce4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.left h1 {
    color: orange;
}

.left p {
    color: orange;
    font-size: 24px;
}

.right {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right h2 {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 30px;
}

.btn {
    padding: 10px 20px;
    color: white;
    background-color: blue;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
