@import url('https://fonts.googleapis.com/css2?family=Allura&family=Nunito:wght@200;400;500;600;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
       font-family: 'Poppins', sans-serif;
        background-color: hsl(0, 0%, 0%);
        font-size: 16px;
    }
    .container{
        max-width: 1170px;
        padding: 0 15px;
        margin: auto;
    }
    .section{
        padding: 80px 0;
        min-height: 100vh;
        display: flex;
    }
    .section-cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    .section-card{
        background-color: hsl(220, 6%, 10%);
        padding: 120px 30px 30px;
        position: relative;
        z-index: 1;
    }
    .section-card:nth-child(1){
        --color: #AA96DA;
    }
    .section-card:nth-child(2){
        --color: #C5FAD5;
    }
    .section-card:nth-child(3){
        --color: #FFBF69;
    }
    .section-card:nth-child(4){
        --color: #0dff41;
    }
    .section-card::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--color);
        z-index: -1;
        clip-path: circle(40px at 70px 70px);
        transition: clip-path 1s ease;
    }
    .section-card:hover::before{
        clip-path: circle(100%);
    }
    .section-card span{
        position: absolute;
        left: 0;
        top: 0;
        height: 80px;
        width: 80px;
        font-size: 50px;
        font-weight: bold;
        transform: translate(30px, 30px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: hsl(0, 0%, 0%);
        transition: transform 1s ease;
    }
    .section-card:hover span{
        transform: translate(0, 30px);
    }
    
    .section-card h2{
        font-size: 26px;
        color: hsl(0, 0%, 100%);
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 10px;
        line-height: 1.3;
    }
    .section-card p{
        color: hsl(0, 0%, 85%);
        line-height: 1.5;
    }
    .section-card a{
        display: inline-block;
        text-transform: capitalize;
        color: hsl(0, 0%, 100%);
        margin-top: 20px;
        font-weight: 500;
    }
    .section-card a,
    .section-card h2,
    .section-card p{
        transition: color 1s ease;
    }
    .section-card:hover a,
    .section-card:hover h2,
    .section-card:hover p{
        color: hsl(0, 0%, 0%);
    }
    @media(max-width:991px){
        .section-cards{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media(max-width:575px){
        .section-cards{
            grid-template-columns: repeat(1, 1fr);
        }
    }